<header class="header">
    <nav class="navbar">
        <ul class="nav-list">
            <li><a href="#" class="nav-link"><i class="fab fa-microsoft"></i> Home</a></li>
            <li class="dropdown">
                <a href="#" class="nav-link dropdown-toggle"><i class="fas fa-caret-down"></i> Reports</a>
                <ul class="dropdown-menu">
                    <li><a href="#spotify-fun" class="dropdown-item">Spotify Fun</a></li>
                    <li><a href="#anime-2017" class="dropdown-item">Anime 2017</a></li>
                    <li><a href="#world-expenditure" class="dropdown-item">World Expenditure</a></li>
                </ul>
            </li>
            <!-- <li><a href="#" class="nav-link"><i ></i> About</a></li> -->
        </ul>
    </nav>
</header>
